* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.countdown-container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.countdown-headline {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.countdown-item {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown-num {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  .countdown-headline {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  .countdown-item {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  .countdown-num {
    font-size: calc(3.375rem * var(--smaller));
  }
}